html,
body {
	background: #fffaf7;
	color: #2d2d2d;
	font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}
a,
a:visited {
	color: darkred;
	text-decoration: none;
	width: 75%;
}
a:hover {
	text-decoration: underline;
}
main {
	margin: auto;
	max-width: 38rem;
	padding: 0.8rem;
}
pre {
	background: white;
	overflow: scroll;
	padding: 1rem;
}
td {
	border: 1px solid #2d2d2d;
	padding: 10px;
}
img {
	height: auto;
	max-width: 100%;
}
.homepage-list {
	list-style: none;
	padding: 1rem 0;
}
.homepage-list li {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}
@media (max-width: 38rem) {
	.homepage-list li a {
		width: 100%;
	}
}

.pagination{
	list-style:none;
	margin:25px 0;
	padding:0;
	text-align:center;
}
.pagination li{
	display:inline-block;
	margin:0 4px;
}
.pagination a{
	display:inline-block;
	padding:0 10px;
	height:30px;
	line-height:30px;
	color: darkred;
}

.pagination .active a{
	color: darkred;
	background:#fff2d099;
}
