      <header role="banner">
        <h3 style="margin-top:0;">
          <a href="/" title="Home">HKL's Notes</a>
          <br />
		  <small>{{ .Site.Params.Comments }}</small>
		  
		  <small style="float:right;">
		  <a href="{{.Site.Params.CVurl}}">C.V.</a>
		  <span> &middot; </span>
		  <a href="https://www.linkedin.com/in/{{.Site.Params.LinkedinUser}}/">Linkedin</a>
		  <span> &middot; </span>
		  <a href="https://github.com/{{.Site.Params.GitHubUser}}">Github</a>
		  </small>
		  
        </h3>
      </header>
      <hr />