  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> HKL's Notes </title>
    <meta name="description" content="HKL's Notes" />
    <link rel="shortcut icon"  href="/favicon.ico" />
    <link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml">

    <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/style.css">

    <meta property="og:site_name" content="HKL's Notes">
      
      <meta property="og:title" content="HKL's Notes">
      <meta property="og:description" content="HKL's Notes">
      <meta property="og:url" content="https://vnf.cc">

  </head>